.container {
    margin: auto;
    max-width: 60%;
    justify-content: center; 
    display: grid;
   grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   gap: 60px;
  }
  .CatTitle{
    color: rgba(255, 255 , 255, 0.81);
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    font-family: 'Changa', sans-serif;
    

  }
  .catbox{

   min-height: 350px;

 
  }

  .line {
  margin: auto;
    width: 90%;
    height: 1px;
    background-color: #b7b7b7; 
    margin-bottom: 20px;
  }
  