.containercard{
margin-left: 40px;
   gap: 20px;

}
  
 
  .title {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255 , 255, 0.81);
    text-align: start; 
    font-family: 'Macondo';

  }
  
.card{
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 10px;

}
.link{
  text-decoration: none;
  cursor: pointer;
}

