.Container {
  margin: auto;
  padding: 300px;
  background-image: linear-gradient(
    to right bottom,
    #1e2b3d,
    #1d2b41,
    #1c2b44,
    #1c2b48,
    #1d2b4b
  );
}

.HeaderInfo {
  margin: auto;
  width: 80%;
  padding-top: 200;
}
.Title {
  margin: auto;
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-weight: 700;
  font-size: 80px;
  color: white;
}
.SubTitle {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 40px;
  color: white;
}
.imgtitle {
  max-width: 110px;
  height: 90px;
  vertical-align: middle;
}
