.footersvgcontainer{
   height: 10vh;
   background-image: linear-gradient(
    to bottom,
    #1e2b3d,
    #1d2b4b,
    #1d2b4b,
    #1d2b4b
  );
}

.containerfooter{
  background-image: linear-gradient(
    to top,
    #1e2b3d,
    #1d2b41,
    #1c2b44,
    #1c2b48,
    #1d2b4b
  );
}
.footertitle{

  text-align: center;
padding-bottom: 30px;
  color: rgb(255, 255, 255);
  font-family: 'Caveat', cursive;
  font-weight: 200;
  font-size: 30px;

}
.custom-shape-divider-top-1706181862 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1706181862 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
}

.custom-shape-divider-top-1706181862 .shape-fill {
  fill: #1b1b1b;
}

.Lottiecat {
  margin: auto;
  height: 150px;
  width: 150px;
  position: relative;
  right: 16px;
  top: 35px;

}